<%= li_for_item(item) do %>
  <div class="view">
    <%= for_for_item_status(item) do %>

    <% end %>

    <label><%= item.description %></label>
    <%= button_to(list_item_path(item.list,item), :method => :delete, :class => :delete) do %>
      <button type="submit" class="destroy" name="button"></button>
    <% end %>
  </div>
<% end %>
